/**
 * Fontes
*/
$theme-font: 'Roboto';
$theme-font-title: 'Roboto';

/**
 * Cores
*/
$theme-background: #f7f7f7;
$theme-menu: #e1ede7;
$theme-color-primary: #004154;
$theme-color-secondary: #00afef;
